<div id="<%= dom_id city %>">
  <p>
    <strong>City name:</strong>
    <%= city.city_name %>
  </p>

  <p>
    <strong>Car name:</strong>
    <%= city.car_name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= city.model %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= city.details %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= city.image_url %>
  </p>

</div>
