<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= category.model %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= category.details %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= category.image_url %>
  </p>

</div>
